{% extends "layout.html" %}

{% block content %}
{% load static %}
          
        <li data-page-no="3" class="px-3">
        <div class="position-relative page-width-1 page-left tm-border-top tm-border-bottom">
            <div class="circle intro-circle-1"></div>
            <div class="circle intro-circle-2"></div>
            <div class="circle intro-circle-3"></div>
            <div class="circle intro-circle-4"></div>
            <div class="tm-bg-dark content-pad">
            <h2 class="mb-4 text-center">Your result is a Soft Skills</h2>
                <ul>
                  {% if message %}
                    <p>{{ message }}</p>
                  {% else %}
                    {% for skillinfo in SoftFilter %}
            
                <li>{{ skillinfo }}</li>
                    
                    {% endfor %}
                  {% endif %}
                </ul>
            </div>              
        </div>
        </li>

          <li data-page-no="3" class="px-3">
            <div class="position-relative page-width-1 page-right tm-border-top tm-border-bottom">
              <div class="circle intro-circle-1"></div>
              <div class="circle intro-circle-2"></div>
              <div class="circle intro-circle-3"></div>
              <div class="circle intro-circle-4"></div>
              <div class="tm-bg-dark content-pad">
                <h2 class="mb-4 text-center">Your result is a Hard Skills</h2>
                <ul>
                  {% if message %}
                    <p>{{ message }}</p>
                  {% else %}
                    {% for skillinfo in HardFilter %}
          
                  <li>{{ skillinfo }}</li>
                
                    {% endfor %}
                  {% endif %}
                </ul>
              </div>              
            </div>
          </li>

    {% endblock content %}